In [1]:
import pandas as pd
from sklearn import linear_model

In [3]:
df = pd.read_csv("homeprices_MF.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
median_bedrooms = df.bedrooms.median()

In [12]:
median_bedrooms

4.0

In [16]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [17]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
# y(price) = m1x1 + m2x2 + m3x3 + b    here x1,x2 and x3 also called features and these are independent  
# x1 == area
# x2 == bedrooms
# x3 == age 
# 'm' is co-efficieent

In [19]:
rg = linear_model.LinearRegression()
rg.fit(df[['area','bedrooms','age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
rg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [22]:
rg.intercept_

221323.00186540408

In [25]:
rg.predict([[3000,3,40]])

array([498408.25158031])

In [27]:
rg.predict([[2600,3.0,20]])

array([518217.63297611])